<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <meta name="full-screen" content="yes" />
    <meta name="x5-fullscreen" content="true" />
    <link rel="stylesheet" type="text/css" href="../css/aui.css" />
    <style>
        .aui-list-item-right a {display: block; position: absolute; right: .5rem;width:5rem; text-align: right; top: -0.4rem; color: #027dc4; font-size:.7rem;}
    </style>

    <script src="../js/require.js?v=1.0.1"></script>

</head>

<body style="background: #fff;">

<div id="login">

<div class="aui-content" style="padding-top: 1rem;" >
    <div class="login_logo_box">
        <span></span>

    </div>
    <div class="login_box aui-margin-15">
        <ul class="aui-list aui-form-list">
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label" style="width: 25%">
                        手机号
                    </div>
                    <div class="aui-list-item-input" style="width: 75%">
                        <input type="tel" v-model="mobile" placeholder="请输入手机号" style="text-align: left;">
                    </div>
                </div>
            </li>
            <li class="aui-list-item">
                <div class="aui-list-item-inner">
                    <div class="aui-list-item-label" style="width: 25%">
                        密码
                    </div>
                    <div class="aui-list-item-input" style="width: 75%">
                        <input type="password" v-model="password" placeholder="请输入密码" style="text-align: left;">
                    </div>
                    <div class="aui-list-item-right"><a href="resetpass.html">忘记密码?</a></div>
                </div>
            </li>
        </ul>
        <a href="#" @click="dosubmit" class="aui-btn aui-btn-info aui-btn-block" style="margin-top: 1rem;">提交登录</a>
    </div>


</div>

    <div class="b_btn" style="padding: 0;">
        <a href="reg.html" style="" class="login_b">注册新账号>></a>
    </div>


</div>

<script type="text/javascript">

    requirejs(['../js/main'], function () {

        require(['vue','Service','store','app','toast','api'], function(Vue,Service,store) {

            apiready = function(){
                api.parseTapmode();
            }



            var vm = new Vue({
                el: '#login',
                data: {
                    mobile : '',
                    password : '',
                },

                methods:{

                    dosubmit:function()
                    {
                        Service.Userlogin(vm.mobile,vm.password,function(data){
                            //toast.hide();

                            if(data.data.code == 0)
                            {
                                store.set("User",data.data.info);
                                sendMsgToAPP({type:2,msg:'登录成功',info:data.data.info});
                            }
                            else
                            {
                                toast.fail({
                                    title:data.data.msg,
                                    duration:2000
                                });
                            }

                        });

                    }

                }

            });



        });

    });


</script>

</body>

</html>
